/*.texthover:hover {
     opacity: 0.7; 7E93AF 283A6D 
    color: #7E93AF;
}*/

.textcolor {
    color: #283A6D;
}

.headingtextcolor {
    color: #283A6D;
    font-family: myFirstFont;
    font-size: 50px;
}

.link {
    color: #7E93AF;
}

.link:hover {
    color: #283A6D;
    text-decoration: none;
}

.text-block {
  position: absolute;
  /*bottom: 20px;
  right: 20px;*/

  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*background-color: red;
  opacity: 0.4;*/
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.linespace {
  line-height: 0.7;
}